
.c-card {
    @apply bg-white shadow rounded;

    &--content-centered {
        .c-card__content {
            @apply flex flex-col items-center justify-center;
        }
    }
}

.c-card__content {
    @apply p-8;
}

.c-card__actions {
    @apply flex overflow-hidden border-t;
    border-bottom-right-radius: config('borderRadius.default');
    border-bottom-left-radius: config('borderRadius.default');

    button {
        @apply flex-1 rounded-none p-6;
        order: 1;

        &:nth-child(2) {
            @apply bg-grey-lighter text-grey-dark;
            order: 0;

            &:hover {
                @apply bg-grey-light;
            }
        }
    }
}
