{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "ApiAdapter": true,
    "VERSION": true
  },
  "extends": [
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "filenames"
  ],
  "rules": {
    "space-before-function-paren": 0,
    "react/prefer-stateless-function": 0,
    "react/prop-types": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".jsx",
          ".js"
        ]
      }
    ],
    "linebreak-style": 0,
    "global-require": 0,
    "eol-last": 0,
    "comma-dangle": 0,
    "spaced-comment": 0,
    "arrow-body-style": 1,
    "camelcase": 1,
    "import/prefer-default-export": 0,
    "jsx-a11y/label-has-for": 0
  }
}
