.inputError {
  border-color: #e90707;
}

.inputGroup {
  display: flex;
}
.inputGroupButton {
  /* flex-grow: 1; */
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.amountAvailable {
  color: #00914d;
  font-size: 12px;
  font-weight: 600;
  height: 18px;
  margin: .5rem 0 1.5rem;
}

.error {
  color: #910606;
  font-size: 12px;
  font-weight: 600;
  height: 18px;
  margin-top: .5rem;
}
