.input {
  background-color: transparent;
  border: solid 2px white;
  color: inherit;
  cursor: text;
  font-size: inherit;
  margin-top: 1rem;
  outline: none;
  padding: .2rem .2rem;
}

.inputError {
  composes: input;

  border: solid 2px #ffd000;
}

.error {
  color: #ffd000;
  font-size: 12px;
  font-weight: 600;
  height: 18px;
  margin-top: .5rem;
}
