.container {
  background-color: #fbfaff;
  display: flex;
  min-height: 30px;
  justify-content: flex-end;
  padding-right: 10px;
}

.draggable {
  -webkit-app-region: drag;
  flex-grow: 1;
}

.button {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  margin-left: 15px;
  width: 30px;
}
.button > svg {
  height: 10px;
  width: 10px;
}
.button:hover {
  background-color: rgba(0, 0, 0, .1);
}
