.container {
  align-items: center;
  background: #2e022a;
  display: flex;
  height: 100%;
  justify-content: center;
}

.innerContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 9rem;
  justify-content: space-between;
}

.text {
  /* font-family: monospace; */
  font-size: 18px;
  color: rgba(255, 255, 255, .9);
}
